
*{
  margin: 0;
}
.books{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2em;
}
.bookshop{
  text-align: center;
  background-color: #103d7d;
  width: 100%;
  padding: 40px;
  color: azure;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 50px;
}
.cart_button {
  font-size: 2.0rem;
  display: flex;
  border-radius: 25px;
  padding: 5px;
  color: #040303; 
  position: fixed;
  top: 50px;
  right: 100px;
}